body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    margin: 0;
}

#album {
    width: 80%;
    max-width: 900px;
    height: 600px;
    perspective: 2000px;
    position: relative;
    overflow: hidden; /* prevent stacked overflow */
}

.page {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: 
    transform-origin: left;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    z-index: 0;
}

.page img, .page video {
    max-width: 90%;
    max-height: 80%;
}

.page.flipped {
    transform: rotateY(-180deg);
    z-index: -1; /* send flipped pages behind */
}

#front-page h1 {
    font-size: 3em;
    margin: 0;
}

#front-page p {
    z-index: 1000;
}
